---
import Slide from "../components/Slide.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Inicio JG-Instalações Esportivas">
  <Slide />
  <div class="container mt-5 text-center">
    <h1>JG-Instalações Esportivas , Quadras Esportivas , Esportes</h1>
  </div>
</Layout>

<style></style>
