---
import Layout from "../layouts/Layout.astro";
import inicio_imgs from "../assets/inicio/img/";
---

<Layout title="Welcome to Astro.">
  <section class="py-5c my-5c container-fluid bg-light">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8">
        <h1 class="p-2c display-4 fw-normal">JG - Instalações Esportivas</h1>
        <p class="p-2c lead fw-normal">
          A empresa JG - Instalações Esportivas é especializada na construção e
          manutenção de espaços esportivos de alta qualidade, com
          comprometimento de oferecer soluções especializadas para atender às
          necessidades de seus clientes. Com anos de experiência e expertise, a
          empresa está pronta para atender desde clubes esportivos até
          indivíduos que desejam ter um espaço esportivo em casa.
        </p>
      </div>

      <div class="col-lg-6 col-md-8 text-center">
        <img
          class="rounded mx-auto d-block"
          width="50%"
          src={inicio_imgs.img01}
          alt=""
        />
      </div>
    </div>
  </section>

  <style>
    .my-5c {
      margin-top: 6rem !important;
    }

    .py-5c {
      padding-top: 0 !important;
      padding-bottom: 20px !important;
    }
    .p-2c {
      padding: 1.5rem !important;
    }
  </style>
</Layout>
