---
import "bootstrap/dist/css/bootstrap.min.css";
import bootstrap from "bootstrap/dist/js/bootstrap.bundle.min.js?url";
import logo from "../assets/logo.png";
import "@fortawesome/fontawesome-free/css/all.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top py-4">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img
              src={logo}
              alt="Logo da empresa"
              width="120"
              height="40"
              class="d-inline-block align-text-top"
            />
            <!-- JG - Instalações Esportivas -->
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Início</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Empresa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Produtos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Projetos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contatos</a>
              </li>
            </ul>
            <div class="d-flex">
              <a
                href="https://wa.me/5551999698477"
                target="_blank"
                rel="noopener noreferrer"
                class="btn btn-outline-light me-2"
              >
                <i class="fab fa-whatsapp"></i>
                <span class="ms-2">WhatsApp</span>
              </a>
            </div>
          </div>
        </div>
      </nav>
    </header>
  </body>
  <slot />
</html>
<script src={bootstrap}></script>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

  body {
    font-family: "Roboto", sans-serif;
  }
  .nav-item {
    font-size: 1.1rem;
    padding: 0 25px;
  }

  .navbar-nav {
    --bs-nav-link-color: #fff;
    --bs-nav-link-hover-color: green;
  }
</style>
