---
import "bootstrap/dist/css/bootstrap.min.css";
import bootstrap from "bootstrap/dist/js/bootstrap.bundle.min.js?url";
import logo from "../assets/logo.png";
import "@fortawesome/fontawesome-free/css/all.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <nav
        class="navbar py-3 navbar-expand-md navbar-dark fixed-top custom-bg-nav shadow-lg mb-5"
      >
        <div class="container-fluid mx-5">
          <div class="logo">
            <a class="navbar-brand" href="#">
              <img src={logo} class="img-fluid rounded" width="150" alt="" />
            </a>
            <h6 style="color: #18b800; margin-top: 5px;">
              Instalações Esportivas
            </h6>
          </div>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/empresa">Empresa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/produtos">Produtos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/projetos">Projetos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contatos">Contatos</a>
              </li>
            </ul>
            <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
              <li class="nav-item ml-auto">
                <a
                  class="nav-link"
                  target="_blank"
                  href="https://wa.me/5551999698477"
                >
                  <i class="fa-brands fa-whatsapp"></i>
                  WhatsApp</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  </body>
  <slot />
</html>
<script src={bootstrap}></script>

<style is:global>
  .custom-bg-nav {
    background-color: rgb(240, 81, 59);
    font-weight: 600;
  }
  .nav-link {
    font-size: 1.2rem;
    color: #fff;
    margin-left: 20px;
  }

  .nav-link:hover {
    font-size: 1.2rem;
    color: green;
  }
</style>
