---
import "bootstrap/dist/css/bootstrap.min.css";
import bootstrap from "bootstrap/dist/js/bootstrap.bundle.min.js?url";
import logo from "../assets/logo.jpg";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <nav
        class="navbar py-4 navbar-expand-md navbar-dark fixed-top custom-bg-nav shadow-lg mb-5"
      >
        <div class="container-fluid mx-5">
          <div class="logo">
            <a class="navbar-brand" href="#">
              <img
                src={logo}
                class="img-fluid rounded-circle"
                width="70"
                alt=""
              />
            </a>
          </div>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/empresa">Empresa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/produtos">Produtos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/projetos">Projetos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contatos">Contatos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <slot />
  </body>
  <script src={bootstrap}></script>
</html>
<style is:global>
  .custom-bg-nav {
    background-color: #aa3232;
    font-weight: 600;
  }
  .nav-link {
    font-size: 1.2rem;
    color: #fff;
    margin-left: 20px;
  }

  .nav-link:hover {
    font-size: 1.2rem;
    color: green;
  }
</style>
